/* リセットCSS */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ----------------------------------------------------------ここまでリセットCSS
---------------------------------------------------------- */

body{
    text-align: center;
    background: #F6F6F6;
    color: #515151;
    font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
    border-top: 8px solid #6CC6C4;
}

.page{
    margin: 0 auto 20px;
    width: 920px;
}


/* ヘッダー */
.page-header-top{
    display: flex;
    justify-content: space-between;
}

.page-title{
    margin-top: 55px;
}
.site-title{
    width: 261px;
    height: 48px;
}
.phone-info{
    margin-top: 15px;
}
.phone-number{
    margin-top: 25px;
    font-size: 150%;
    background: url(image/bgTel.png) left center no-repeat;
    padding-left: 40px;
}
.phone-info p{
    font-size: 60%;
}
.reserve-info{
    font-size: 40%;
    border: solid 1px #D6D6D6;
    margin-top: 10px;
    padding: 10px 7%;
}
.reserve-info span{
    color: red;
}

.nav-ul{
    display: flex;
    margin-top: 20px;
}
.nav-ul .nav-list{
    box-sizing: border-box;
    background: linear-gradient(rgb(156,227,225),rgb(108,198,196));
    border-right: 1px solid #71C9C7;
    border-left: 1px solid #99E1DF;
    width: calc(100%/5);
}
.nav-ul .nav-list:hover{
    background: linear-gradient(rgb(108,198,196),rgb(156,227,225));
}
.nav-ul .nav-list a{
    font-size: 90%;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px 2%;
    font-weight: bold;
}
.nav-ul .nav-list a p.en{
    font-size: 30%;
}
.nav-ul .nav-list a:hover {
    opacity: 0.7;
}


/* サイドバー・メイン flex */
.aside-main{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* サイドバー */
.aside-list-1,
.aside-list-2,
.aside-list-info{
    list-style: none;
}
.page-aside{
    width: 40%;
}
.aside-list-1,
.aside-list-2{
    text-align: left;
}
.aside-list-1{
    margin-bottom: 23px;
}
.aside-title{
    background: linear-gradient(rgb(156,227,225),rgb(108,198,196));
    padding: 10px 20% 10px 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.aside-title h2{
    font-size: 1.1rem;
    color: #fff;
}
.aside-ul-info{
    border: 1px solid  #6CC6C4;
    background-color: #fff;
}
.aside-list-info:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 7%;
    border: 1px solid #6CC6C4;
    background-color: #6CC6C4;
    transform: rotate(45deg);
    margin-bottom: 3px;
}
.aside-list-info{
    padding-bottom: 10px;
    border-bottom: 1px solid #6CC6C4;
    margin: 15px 5%;
}
.aside-list-info a{
    text-decoration: none;
    color: #515151;
    font-weight: bold;
}
.aside-list-info a:hover{
    color: #6cc6c4;
}


/* メイン */
.page-main{
    margin-left: 2%;
}

.img-link{
    width: 100%;
}

/* 新着情報 */
.new-information{
    background-color: #fff;
    text-align: left;
    padding: 3%;
}
.new-information h2{
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: solid 3px #6CC6C4;
}
.new-info-content dl{
    padding: 0 1.7% 10px 1.7%;
    margin-bottom: 15px;
}
.new-info-content dt{
    float: left;
    padding: 10px 0;
    font-weight: bold;
}
.new-info-content dd{
    padding: 10px 2% 10px 28%;
    margin:0;
    font-size: small;
    line-height: 1.3;
    border-bottom: 1px #CCCCCC dotted;
}


/* フッター */
.page-footer{
    margin-top: 10px;
}
.footer-ul{
    display: flex;
    flex-wrap: wrap;
    background-color: #6CC6C4;
    border-radius: 7px;
    padding-left: 2%;
    align-items: center;
}
.footer-ul li{
    margin: 7px 2% 7px 0;
    font-size: 0.8rem;
    /* width: 30%; */
    /* text-align: left; */
}
.fa-circle{
    color: white;
    /* margin-right: 7%; */
}
.footer-ul li a{
    text-decoration: none;
    color: white;
}
.footer-ul li a:hover{
    border-bottom: 1px solid white;
}

.locate-info{
    text-align: right;
    margin: 20px 0;
    font-size: 0.8rem;
}
.locate-name{
    font-weight: bold;
}

/* copyright */
.copyright{
    padding-top: 20px;
    border-top: 2px solid #6CC6C4;
}
.copyright small{
    font-size: 0.8rem;
}

/* ------------レスポンシブ対応---------------- */
    @media (max-width:920px){
    .page{
        margin: 0;
        width: auto;
    }


    /* ヘッダー */
    .page-header-top{
        display: block;
    }
    .page-title{
        margin-top: 0;
    }
    .phone-info{
        margin-top: 8px;
    }
    .phone-info p{
        font-size: 60%;
    }
    .phone-number{
        font-size: 140%;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 180px;
        margin: 15px auto;
    }
    .reserve-info{
        display: inline;
        font-size: 45%;
        padding: 10px 4%;
    }


    /* ナビゲーション */
    .nav-ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: auto;
    }
    .nav-ul .nav-list{
        width: auto;
    }
    .header-nav,
    .nav-ul{
        border: none;
    }
    .nav-ul .nav-list,
    .nav-ul .nav-list a{
        border-radius: 5px;
    }
    .nav-ul .nav-list a{
        padding: 15px 2%;
    }


    /* サイドバーとメイン */
    .aside-main{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-left: 2%;
        padding-right: 2%;
    }

    /* サイドバー */
    .page-aside{
        order: 2;
        width: 100%;
    }
    

    /* メイン */
    .page-main{
        order: 1;
        margin: 0;
    }

    .img-link img{
        width: 100%;
        height: 100%;
    }

    /* 新着情報 */
    .new-information{
        margin-bottom: 40px;
    }
    .new-info-content dt{
        float: unset;
    }
    .new-info-content dd{
        padding: 10px 0;
    }


    /* フッター */
    .page-footer{
        padding-left: 2%;
        padding-right: 2%;
    }
    .footer-ul{
        text-align: left;
    }
    .footer-ul li{
        margin-right: 5%;
    }
    .locate-info{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .locate-info span{
        line-height: 1.5;
    }

    .copyright{
        padding-bottom: 20px;
    }
    .copyright small{
        font-size: 0.7rem;
    }   
}

/* ----------------------------------------------- */

@media (max-width:480px){

/* フッター */
.footer-ul li{
    margin-right: 10%;
    }
}